body
{
    background-size: cover;
    background-position: center;
}
a
{
    background-color: white;
    color: black;
    font-size: larger;
    padding: 2px;
    margin: 0px;
    border-radius: 2px;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}